*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: Montserrat;
}

#header-section{
  display: block;
  float: left;
  width: 100%;
  height: 50px;
  background: #ff4500;
}

#header-section img{
  max-width: 120px;
  margin-left: 10px;
  margin-top: 10px;
}

#first-section{
  display: block;
  float: left;
  width: 100%;
  height: 32%;
  background-color: #ff4500;
  text-align: center;
  padding-left: 14px;
  
}
#img-sect{
  max-width: 130px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#first-section h1{
  color: white;
  margin-top: 20px;
  font-size: 15px;
}

#first-section p{
  color: white;
  margin-top: 20px;
  font-size: 20px;
}


#form-section{
  display: block;
  float: left;
  width: 100%;
  height: 60%;
  background: #ff4500;
}

#form{
  display: block;
  float: left;
  width: 75%;
  height: 100%;
  outline: 1px solid white;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 0px;
  background-color: white;
}
#form2{
  display: block;
  /* flex-direction: row;
  gap: 1px; */
  float: left;
  width: 75%;
  height: 70%;
  outline: 1px solid white;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 50px;
  background-color: white;
}
input{
  width: 70%;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 13px;
}


#email-div{
  display: flex;
  gap: 12%;
}
#email-div label{
  display: block;
  float: left;
  margin-top: 17px;
}
#email-div input{
  display: block;
  float: right;
}
#date-div{
  display: flex;
  gap: 12%;
  /* background-color: green; */
  align-items: center;
}


#form2 button{
  display: flex;
  width: 70%;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 28%;
  background-color: green;
  border: none;
  color: white;
  align-items: center;
  justify-content: center;
}
button{
  width: 250px;
  height: 40px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 80px;
  background-color: green;
  border: none;
  color: white;
  float: left;
}
#form2 #btn{
    width: 70%;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 3%;
    background-color: #ff4500;
    border: none;
    color: white;
    float: right;
  
}
#form p{
  display: flex;
  
  text-align: center;
  margin-left: 80px;
}
#form-p{
  display: block;
  position: relative;
  margin-top: 70px;
  text-align: center;
  margin-left: 100px;
}
label{
  font-size: 18px;
}

@media screen and (min-width: 560px){
  #img-sect{
    max-width: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #first-section h1{
    color: white;
    margin-top: 20px;
    font-size: 20px;
  }
  
  #first-section p{
    color: white;
    margin-top: 20px;
    font-size: 20px;
  }
  
  #form2 button{
    display: flex;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 25%;
    background-color: green;
    border: none;
    color: white;
    align-items: center;
    justify-content: center;
  }

  #form2 #btn{
    width: 70%;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 5%;
    background-color: #ff4500;
    border: none;
    color: white;
    float: right;
  
}
}

@media screen and (min-width: 660px){
  #form2 button{
    display: flex;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 22%;
    background-color: green;
    border: none;
    color: white;
    align-items: center;
    justify-content: center;
  }

  #form2 #btn{
    width: 70%;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 8%;
    background-color: #ff4500;
    border: none;
    color: white;
    float: right;
  
}
}